body, ul, li, h1, h2, h3, a{
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #3a151c;
    justify-content: center;
}


h1{
    margin: 0px;
    color: #3a151c;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #D26059; */
    /* background-color: #ffdc9b; */
    /* background-color: #FBC86D; */
    /* background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%); */
    background: linear-gradient(45deg, #fbc86d 0%,#ffdc9b 100%);
    color: #3a151c;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    /* height: 100vh; */
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    /* background-color: #ffdc9b; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.homePage {
    padding: 0px 32px 0px 32px;
}

.aboutPage {
    padding: 16px 32px 0px 32px;
}


.background1 {
    /* padding: 32px; */
    /* background-color: #ffefd1; */
    z-index: 1;
    background: linear-gradient(45deg, #ffe5b4 0%,#fff2d9 80%);
    /* background: linear-gradient(45deg, #fbc86d 0%,#ffdc9b 100%); */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.background2 {
    /* background-color: #ffefd1; */
    z-index: 1;
    background: linear-gradient(45deg, #ffe5b4 0%,#fff2d9 80%);
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.bgInterior {
    z-index: 2;
    /* padding: ; */
    /* background-color: aliceblue; */
    /* background: radial-gradient(circle, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 100%); */

    /* background-size: 30px; */
    /* opacity: 50%; */

}

.bgInterior section {
    opacity: 100%;
}

.banner {
    display: flex;
    justify-content: space-between;
    /* background-color: #ffdc9b; */
}



.banner div {
    animation: fadein 2s;
}

.banner img{
    /* max-width: 100%; */
    /* display: flex; */
    max-width: 35%;
    justify-content: center;
    /* border-radius: 20px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-right: 32px;

}

@media (max-width: 1467px) {
    .nav a {
        font-size: clamp(50px, 1vw, 60px);
    }

    .background1 {
        padding-bottom: 32px;
    }
    .banner {
        display: inline-block;
        align-content: center;
        text-align: center;
        height: calc(100vh - 75px - 15px - 32px);

    } 
    .banner div {
        animation: fadein 2s;
    }
    
    .banner img{
        /* max-width: 100%; */
        /* display: flex; */
        max-width: 50%;
        justify-content: center;
        /* border-radius: 20px; */
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        padding-right: 0px;
    }
    
    
}


.welcome{
    /* max-width: 100%; */
    align-content: center;
    font-size: 600%;
    letter-spacing: 7px;
    line-height: 140%;
    text-align: right;
    padding: 32px 32px;
}

.welcome h2{
    letter-spacing: 0px;
    margin: 0px;
    font-size: 100%;
}

.welcome a {
    text-decoration: none;
    font-weight: bolder;
    /* animation: fadein 3s; */
    /* animation: ; */
}


@media (max-width: 1467px) {
    .welcome{
        align-content: center;
        font-size: clamp(20px, 8vw, 60px);

        /* font-size: 5vw; */
        letter-spacing: 7px;
        line-height: 140%;
        text-align: center;
        padding: 32px 32px;
    }
    
    .welcome h2{
        letter-spacing: 0px;
        margin: 0px;
        font-size: 100%;
    }
    
    .welcome a {
        text-decoration: none;
        font-weight: bolder;
    }
}


@keyframes fadein {
    0% { opacity: 0;}
}

h3{
    font-size: 60px;
    line-height: .4;
}

main{
    /* max-width: 100%; */
    /* display: flex; */
    max-width: 1500px;
    padding-top: 40px;
    margin: 0 auto;
    /* align-content: center; */
    /* justify-content: center; */

    /* width: 1200px; */
    /* margin: 80px auto; */
}

p{
    font-size: 30px;
}

.sale {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
    /* padding: 20px; */
}

.sale > div > img {
    max-width: 650px;
    /* max-width: 35%; */
    /* border-radius: 10px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.pitch {
    align-content: center;
    /* padding-right: 32px; */
    padding: 32px 32px;
}

.pitch-heading {
        /* display: inline-block; */
    /* padding-right: 20px; */
    /* padding-top: 50px; */
    padding-bottom: 40px;
    /* text-align: left; */
    /* animation: fadein 3s; */
}

.pitch-heading a {
    text-decoration: none;
    /* font-size: 60px; */
}


.pitch .aboutPage h3 {
    /* padding: 0px; */
    margin: 0px;
    font-size: 40px;
}

.pitch .aboutPage a {
    font-size: 30px;
    display: flex;
    justify-content: end;
    text-decoration: none;
}

@media (max-width: 1467px) {
    .background2 {
        padding: 20px;
    }


    .sale {
        display:inline;
        align-content: center;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    
    .sale > div > img {
        max-width: 50%;
        /* max-width: 35%; */
        /* border-radius: 10px; */
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
    }
    

    .pitch h3 {
        font-size: clamp(20px, 8vw, 60px);
        line-height: 8vw;
    }

    .pitch {
        align-content: center;
        padding: 32px 32px;
    }
    
    .pitch-heading {
            /* display: inline-block; */
        /* padding-right: 20px; */
        /* padding-top: 50px; */
        padding-bottom: 0px;
        /* text-align: left; */
        /* animation: fadein 3s; */
    }
    
    .pitch-heading h3 {
        line-height: 3rem;
    }


    .pitch-heading a {
        text-decoration: none;
        /* font-size: 60px; */
    }
    
    .pitch .aboutPage {
        padding: 0px;
    }


    .pitch .aboutPage h3 {
        /* padding: 0px; */
        margin: 0px;
        font-size: 40px;
        
    }
    
    .pitch .aboutPage a {
        font-size: 30px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        /* padding: 0px; */
        
    }

    .sale img {
        padding-bottom: 32px;
    }
}


/* --------- About Me Page Styles ---------- */


.aboutMe {
    padding: 32px;
}

.aboutMe h1 {
    font-size: 60px;
    /* letter-spacing: 8px; */
    line-height: 1px;
}

.aboutHeading {
    padding-bottom: 20px;
    /* padding-top: 20px; */
}

.profilePhoto img{
    max-width: 80%;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.profilePhoto {
    display: flex;
    justify-content: right;

}

.bio {
    display: inline-flex;
    gap: 40px;
    padding-bottom: 80px;
}

.bio div {
    align-content: center;
}

@media (max-width: 1467px) {
    .aboutMe h1 {
        font-size: clamp(40px, 8vw, 60px);
        line-height: 3rem;
        /* padding: 32px; */
        /* margin: 32px; */
    }

    /* .aboutMe p {
        font-size: clamp(15px 4em, 80px);
    } */

    .aboutHeading {
        padding: 0px;
    }

    .bio {
        display: inline;
        gap: 40px;
        padding-bottom: 30px;
    }
    
    .profilePhoto {
        display: flex;
        justify-content: center;
    }

    .profilePhoto img{
        /* max-width: 50%; */
        max-width: clamp(300px, 50%, 800px);
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
    }    

    .profilePhotoContainer {
        display: inline;
        text-align: center;
    }

    .blurb {
        /* display: grid; */
        margin: 32px 0px 32px 0px;
        /* padding: ; */
    }
}

.collage {
    justify-content: center;
    display: flex;

}

.collage .group {
    display: flex;
    /* padding-left: 80px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}


.collage .group img {
    max-width: 250px;
    padding: 0%;
    margin: 0%;
    
    /* display: flex; */
}

@media (max-width: 1467px) {
    .collage .group {
        flex-wrap: wrap;
        justify-content: center;
    }

}


/* --------- Footer Styles ---------- */


.creator {
    background-color: #ffdc9b;
    /* background: linear-gradient(45deg, #fbc86d 0%,#ffdc9b 100%); */
    /* display: flex; */
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    /* padding-left: ; */
}


.creator a {
    padding-bottom: 10px;
}

.linkContainer {
    /* display: flex;
    justify-content: space-between;
    width: 1500px;
    margin: 0 auto; */
    /* background-color: #3a151c; */
    /* background-color: #D26059; */
    /* background-color: #ffdc9b; */
    background-color: #fbc86d;
    /* background: linear-gradient(45deg, #fbc86d 0%,#ffdc9b 100%); */
    /* background: linear-gradient(45deg, #ffe5b4 0%,#fff2d9 80%); */



}


.contact {
    padding-top: 20px;
    padding-bottom: 20px;
    /* align-content: center; */
    /* padding-right: 32px; */
}

.contact a {
    /* justify-content: end; */
    font-weight: bold;
    /* font-weight: 600; */
    font-size: 40px;
    padding: 0;
    text-align: center;
    /* color: white; */
}

.endpoints {
    /* align-content: center; */
    /* padding-left: 32px; */
    /* display: flex; */
    padding-top: 20px;
    display: inline-flex;
    /* justify-content: center; */
    gap: 100px;
    /* margin: 0 auto; */
}

@media (max-width: 1467px) {
    .contact a {
        font-size: clamp(50px, 1vw, 60px);
    }

    .endpoints a {
        font-size: clamp(30px, 1vw, 40px);

    }

}
.endpoint-container {
    display: flex;
    justify-content: center;
    /* padding-bottom: 20px; */
    /* align-content: center; */
    /* justify-content: start; */
    /* padding-bottom: 10px; */
    /* display: flex; */
    /* gap: 10px; */
}


.developer-container {
    display: flex;
    justify-content: center;
}


.developer a {
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}


footer a {
    display: flex;
    text-decoration: none;
    /* justify-content: end; */
    /* font-weight: bold; */
    font-size: 25px;
    /* padding: 20px; */
}




/* add viewport at px with 1467 */

@media (max-width: 1467px) {

}


/* 
ID's can be restricting, try to avoid
#Sale{
    background-color: rgb(175, 215, 255)
}
*/


/* 
div.pitch.anothertag{
    display: inline-block;
    padding: 1%;
}
*/


/* 
put lists side by side
white-space: nowrap;
*/


/* 
Any link with website in the name will be selected

a[href*="website"]{
}

$ sign used to indicate ending with
a[href$=".usa"]{
}

$ can be used to select file type
a[href$=".pdf"]{
}

*/


/* 
div.pitch
- selects everything WITH these properties

div .pitch a
- location based
*/