body, ul, li, h1, h2, h3, a{
    /* margin: 0; */
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #3a151c;
    justify-content: center;
}


h1{
    margin: 0px;
    color: #3a151c;
    /* font-size: 1000%; */
    /* text-align: right; */
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffdc9b;
    color: #3a151c;
    /* background-color: #D26059; */
    /* padding: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    /* background-color: #FBC86D; */
    /* overflow: hidden; */
    /* max-width: 2000px; */
    /* height: 100vh; */
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    /* background-color: #ffdc9b; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.homePage {
    padding: 0px 32px 0px 32px;
}

.aboutPage {
    padding: 16px 32px 0px 32px;
}

.background1 {
    background-color: #ffefd1;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.background2 {
    background-color: #ffefd1;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}


body section .welcome{
    /* max-width: 100%; */
    align-content: center;
    font-size: 600%;
    letter-spacing: 7px;
    line-height: 140%;
}

body section .welcome h2{
    letter-spacing: 0px;
}

body section .welcome h2{
    margin: 0px;
    font-size: 100%;
}

.banner {
    justify-content: space-between;
    display: flex;
    /* background-color: #ffdc9b; */
}

.banner img{
    /* max-width: 100%; */
    /* display: flex; */
    max-width: 35%;
    justify-content: center;
    /* border-radius: 20px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-right: 32px;
}

.welcome{
    /* position: absolute; */
    text-align: right;
    padding: 32px 32px;
    /* top: 10%; */
    /* right: 5%; */
}

.welcome a {
    text-decoration: none;
    font-weight: bolder;
    animation: fadein 3s;
    /* animation: ; */
}

@keyframes fadein {
    0% { opacity: 0;}
}

h3{
    font-size: 60px;
    line-height: .4;
}

main{
    /* max-width: 100%; */
    /* display: flex; */
    max-width: 1500px;
    padding-top: 40px;
    margin: 0 auto;
    /* align-content: center; */
    /* justify-content: center; */

    /* width: 1200px; */
    /* margin: 80px auto; */
}

p{
    font-size: 30px;
}

.sale {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
    /* padding: 20px; */
}



.sale > div > img {
    max-width: 650px;
    /* max-width: 35%; */
    /* border-radius: 10px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}



.pitch {
    align-content: center;
    /* padding-right: 32px; */
    padding: 32px 32px;
}

.pitch-heading {
        /* display: inline-block; */
    /* padding-right: 20px; */
    /* padding-top: 50px; */
    padding-bottom: 40px;
    /* text-align: left; */
    /* animation: fadein 3s; */
}


.pitch-heading a {
    text-decoration: none;
    /* font-size: 60px; */
}

.pitch-heading h3 {
    /* font-size: 35px; */
    /* font-size: 50px; */
}

.pitch .aboutPage h3 {
    /* padding: 0px; */
    margin: 0px;
    font-size: 40px;
}

.pitch .aboutPage a {
    font-size: 30px;
    display: flex;
    justify-content: end;

    text-decoration: none;
}


/* 
.sale{
    background-color: rgb(207, 231, 255)
}
*/


.collage {
    justify-content: center;
    display: flex;

}

.collage .group {
    display: flex;
    /* padding-left: 80px; */
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}


.collage .group img {
    max-width: 250px;
    padding: 0%;
    margin: 0%;
    
    /* display: flex; */
}

.creator {
    background-color: #ffdc9b;
    /* display: flex; */
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    /* padding-left: ; */
}


.creator a {
    padding-bottom: 10px;
}

.linkContainer {
    /* display: flex;
    justify-content: space-between;
    width: 1500px;
    margin: 0 auto; */
    /* background-color: #3a151c; */
    /* background-color: #D26059; */
    /* background-color: #ffdc9b; */
    background-color: #fbc86d;

}



.contact {
    padding-top: 20px;
    padding-bottom: 20px;
    /* align-content: center; */
    /* padding-right: 32px; */
}

.contact a {
    /* justify-content: end; */
    font-weight: bold;
    /* font-weight: 600; */
    font-size: 40px;
    padding: 0;
    /* color: white; */
}


.endpoints {
    /* align-content: center; */
    /* padding-left: 32px; */
    /* display: flex; */
    padding-top: 20px;
    display: inline-flex;
    /* justify-content: center; */
    gap: 100px;
    /* margin: 0 auto; */
}

.endpoint-container {
    display: flex;
    justify-content: center;
    /* padding-bottom: 20px; */
    /* align-content: center; */
    /* justify-content: start; */
    /* padding-bottom: 10px; */
    /* display: flex; */
    /* gap: 10px; */
}


.developer-container {
    display: flex;
    justify-content: center;
}

.developer a {
    justify-content: center;

    font-size: 20px;
}

.aboutMe {
    padding: 32px;
}

.aboutMe h1 {
    font-size: 60px;
    /* letter-spacing: 8px; */
    line-height: 1px;
}

.aboutHeading {
    padding-bottom: 20px;
    /* padding-top: 20px; */
}

.bio #profilePhoto img{
    max-width: 600px;
}

.bio #profilePhoto {
    display: flex;
    justify-content: right;

}

.bio {
    display: inline-flex;
    gap: 40px;
    padding-bottom: 80px;
}

.bio div {
    align-content: center;
}

footer a {
    display: flex;
    text-decoration: none;
    /* justify-content: end; */
    /* font-weight: bold; */
    font-size: 25px;
    /* padding: 20px; */
}


/* 
ID's can be restricting, try to avoid
#Sale{
    background-color: rgb(175, 215, 255)
}
*/


/* 
div.pitch.anothertag{
    display: inline-block;
    padding: 1%;
}
*/


/* 
put lists side by side
white-space: nowrap;
*/


/* 
Any link with website in the name will be selected

a[href*="website"]{
}

$ sign used to indicate ending with
a[href$=".usa"]{
}

$ can be used to select file type
a[href$=".pdf"]{
}

*/


/* 
div.pitch
- selects everything WITH these properties

div .pitch a
- location based
*/